:root {
  --white-color: #ffffff;
  --dark-blue-color: #007dc6;
  --light-blue-color: #75bae0;
  --black-color: #202123;
  --dark-gray-color: #333333;
  --medium-gray-color: #999999;
  --light-gray-color: #dddddd;
  --background: #e4e4f6;
  }